<h1>Solicitação para recuperação de senha</h1>
<p>
  Olá {{ user.username }}, parace que voce solicitou a recuperação de sua senha, do email {{ user.email }}.
</p>

<p>
  se foi você, clique no seguinte 
<a href="http://127.0.0.1:3333/users/forgotPassword/{{token}}/{{user.email}}">link</a>
</p>

<p>
  Se não foi você, recomendamos que você mude sua senha. 🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️
</p>