<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Email </title>
</head>
<body>



    <div class="container" style="width: 100%; height: 100%;">
        <h1 style="color: #333333; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: x-large; text-align: center;font-stretch:normal;">
            Olá  {{ username }}, seu cadastro em nosso app foi um sucesso, clique no link abaixo para ver seu perfil  </h1>
            <center><img src="https://m.media-amazon.com/images/I/41p6VwVr9FL.jpg"></center>
            <h3> Caso nescessário, não exite em nos contatar 'trabalho@tcc.com.br' </h3>
            <center> <a href="http://localhost:3000" style="padding: 10px 25px;text-decoration: none;align-items:
            center; color: #CFCFCF; height: 50px;
            width: 200px; background: #09426D; border-radius: 80px;  font-size: 20px;font-family:
            -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
            'Helvetica Neue', sans-serif; cursor:pointer">Acesse sua conta</a></center>
    </div>

</body>
</html>